//colors
$orange: #e45028;
$yellow: #f8b33b;
$black: #2f3234;
$red: #e35028;

// resolutions

$phones: 768px;
$tablets: 1100px;

//normalize
@import "_misc/normalize.scss";

// media
@import "_misc/media";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// blocks
@import "blocks/best.scss";
@import "blocks/btn.scss";
@import "blocks/burgers.scss";
@import "blocks/job.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/footer.scss";
@import "blocks/hamburger-menu.scss";
@import "blocks/header.scss";
@import "blocks/hero.scss";
@import "blocks/logo.scss";
@import "blocks/map.scss";
@import "blocks/menu-accordeon.scss";
@import "blocks/menu.scss";
@import "blocks/nav.scss";
@import "blocks/order-link.scss";
@import "blocks/order.scss";
@import "blocks/reviews.scss";
@import "blocks/section.scss";
@import "blocks/socials.scss";
@import "blocks/team-accordion.scss";
@import "blocks/team.scss";
@import "blocks/text-block.scss";
@import "blocks/hamburger-menu.scss";
@import "blocks/slider_menu.scss";


