.footer {
	background: url('../img/background/bg-texture.jpg') center bottom no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  // padding: rem(2px) 0;
}


.footer__col {
	width: 50%;
	margin-bottom: rem(15px);
	
	@include tablets {
		margin-bottom: rem(0px);
	}

	@include phones {
		
		float: none;
		width: 100%;
		text-align: center;
	}
}
.phone-icon{
	width: rem(10px);
	height: rem(10px);
}

.footer__address {
	color: #ffffff;
	font-size: rem(15px);
	@include phones{
		padding-top: 2vh;
	}
}

.footer__phone {
	color: $red;
	@include ubuntu(bold);
	text-decoration: none;
	font-size: rem(14px);

}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;

	@include phones {
		text-align: center;
	}
}