.container__burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px; }

.slider-control--left {
  font-size: rem(40px); }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: rem(500px);
  height: 100%;
  margin: 0 10px;
  margin-bottom: 20px; }

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #444; }

.burgers-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: papayawhip;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #444; }

.burgers-slider ~ .burgers-slider {
  border-left: none; }
