.text-block {
	p {
		font-size: rem(16px);
		line-height: 1.8;
		@include tablets{
			font-size: rem(14px);
		}

		@include phones {
			font-size: rem(16px);
			line-height: 1.7;
			width: 37vh;
		}
	}
	
}