.best {
  background: url("../img/background/best.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center;
  .section__title {
    margin-bottom: 1.5rem;
    
    @include tablets {
      margin-top: -4rem;
      font-size: rem(80px);
      margin-bottom: -0.5rem;
    }
    @include phones {
      // margin-top: -1rem;
      // margin-bottom: -0.4rem;
      width: 100%;
      margin-left: 10%;
    }
  }
}
.container_best{
  // margin-top: -6%;
}

.best__icon-pic {
  width: 35%;
  height: rem(100px);
  svg {
    max-width: 100%;
  }
  @include tablets {
    width: 42%;
    
    // position: static;
    // transform: nonvvve;
  }
  @include phones {

    width: 80%;
    // height: 65%;
  }

}

.best__list {
  display: flex;
  @include tablets {
    margin-top: rem(8px);
    padding: 0 36px;
  }
  @include phones {
    width: 100%;
    flex-direction: column;
    margin-top: rem(0px);
    margin-left: -25%;
  }
  
}

.best__item {
  margin-bottom: rem(50px);
  padding: 0 rem(15px);
  display: flex;
  flex-direction: column;
  @include tablets {
    width: 100%;
    margin-bottom: rem(25px);
  }
  @include phones {
    flex-direction: row;
    width: 100%;
    padding: 0px;
    
    // margin-bottom: rem(50px);
  }
}

.best__icon {

  @include tablets {
    width: 100%;
  @include phones {
    // margin-right: 0rem;
    // margin-right: rem(20px);
    width: 90%;
  }
}
}



.best__desc {
  @include tablets {
    margin-top: rem(27px);
    
    text-align: left;
    display: block;
    width: 100%;
  }
  @include phones {
    // margin-top: rem(0px);
    width: 70%;
    
    
    
  }
}

.best__title {
  text-align: center;
  font-size: rem(24px);
  @include tablets {
  font-size: rem(20px);
  }
  @include phones {
    margin-top: rem(0px);
    text-align: left;
    font-size: rem(20px);
    
  }
  @include lifehack;
  color: $black;
  margin-bottom: rem(20px);
}