.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px; }

.best {
  background: url("../img/background/best.jpg") center center/cover no-repeat; }

.best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px; }
  .best__item:last-child {
    margin-right: 0; }
