.comando{
  background: url('../../img/background/campani.jpg')center center / cover no-repeat;
}

// -------------------------------------
/* скрываем чекбоксы и блоки с содержанием */
.hide {
  display: none; 
}
.hide + label ~ div{
  display: none;
}
/* оформляем текст label */
.hide + label {
  border-bottom: 1px dotted transparent;
  padding: 0;
  color: white;
  cursor: pointer;
  display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
  // color: red;
  border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
  display: block; 
  padding: 10px; 
}

.window__in{
  display: flex;
  width: 70%;
}





// -------------------------------------------------------

.name{
  margin-bottom: 23%;
}


.team-list{
  display: flex;
  margin-left: 20%;

}

.team-list--text{
  font-family: 'Ubuntu-B';
  color: white;
  overflow: hidden;
  cursor: default;
  font-size: 14px;
}
.team-list__item {
  font-family: 'Gagalin-Regular';
  position: relative;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  
  margin-top: 3%;
  position: absolute;
}

.team-list__img {
  width: 40%;
  height: 100%;
  text-align:center;
  overflow: hidden;
}
.team-list__pic {
  
  object-fit: cover;
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
}


.team-list__slider-control {
  width: 0;
  height: 0;
  position: absolute;
  top: 15px;
  left: -20px;
  transform: translateY(-50%);
  transition: 0.4s ease-in;
  border: 6px solid #f9b43d;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}



