.feature__desc {
  text-align: center; }

.feature__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.8125em; }

.feature__title {
  font-family: 'Lifehack';
  font-size: 1.5em;
  font-weight: 500; }

.feature__text {
  font-size: 0.875em; }
