.first {
  background: url("../img/background/texturefirst.jpg") center center/cover no-repeat;
  position: relative; }

.first__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.first__content {
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.first__content-text,
.first__content-img {
  width: 50%; }
