.fixed-nav {
  position: fixed;
  top: 15%;
  right: 5.4%;
  z-index: 40;
}
a {
  text-decoration: none;
}

a {
  background-color: transparent;
}



.fixed-nav__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-nav__item {
    margin-bottom: 21px;
    display: flex;
}
.fixed-nav__link {
  position: relative;
  display: block;
}

.fixed-nav__link::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
}

.fixed-nav__link--active.fixed-nav__link::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  transition: 0.4s;
  border: 2px solid #fff;
}