.burger-menu {
	display: none;
	@include tablets {
	width: rem(24px);
	height: 5px;
	margin-left: 5px;
	position: relative;
	display: block;
	border-radius: 10px/10px;
	background: #fff;
	
	}
}

.burger-menu::before {
	@include tablets {
	content: "";
	width: rem(24px);
	height: 5px;
	position: absolute;
	top: -10px;
	left: 0;
	display: block;
	border-radius: 10px/10px;
	background: #fff;
	
}
}
.burger-menu--active::before {
	@include tablets {
	content: "";
	width: 24px;
	height: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	border-radius: 10px/10px;
	transform: translate(-50%, -50%) rotate(90deg);
	background: #fff;
}
}

.burger-menu::after {
	display: none;
	@include tablets {
	content: "";
	width: rem(24px);
	height: 5px;
	position: absolute;
	top: 10px;
	left: 0;
	display: block;
	border-radius: 10px/10px;
	background: #fff;
}
}



.burger-menu--active {
	display: flex;
	cursor: pointer;
	@include tablets {
	width: 24px;
	height: 5px;
	position: fixed;
	top: 6%;
	left: 93%;
	display: block;
	border-radius: 10px/10px;
	background: #fff;
	transform: rotate(45deg);
	z-index: 150;
}
}
.burger-menu--active::after {
	// @include tablets {
	content: "";
	width: 34px;
	height: 50px;
	position: absolute;
	top: -30px;
	left: 0;
	display: block;
	border-radius: 10px/10px;
	background: #fff;
	opacity: 0;
// }
}
.nav {
	display: flex;
	flex: 1;
	padding: 0 4.79%;
	@include tablets {
		display: none;

}
}


.nav__active {	

	// @include tablets {
	flex-direction: column;
	font-size: 2.25em;
	line-height: 2;
	text-align: center;
	@include tablets {
	z-index: 120;
	padding-top: 5%;
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	width: 100%;
	height: 100%;
	background: #2f3234;
	
	}
}




.nav__list{
	display: flex;
	flex: .8;
	justify-content: space-between;
	font-size: rem(14px);
	
}

.nav__list-active{
	@include tablets {
		flex-direction: column;
    font-size: 1.1em;
    line-height: .5;
    text-align: center;
}
}

.nav__item{
	transition: .3s ease-in-out;
}
.nav__link{
	font-size: rem(14px);

}

