.header {
	height: rem(100px);
	padding-top: rem(11px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: rem(70px);
	height: rem(70px);
	@include tablets {
		width: 15%;
	}
}

.header__menu {
	flex: 1;
	text-align: right;
	margin-right: rem(10px);

	@include tablets {
		width: 85%;
	}

	@include tablets {
		text-align: right;
	}
}
.logo__icon{
	max-height: rem(70px);
}