.job{
  background: url('../img/background/how_work.png')center center / cover no-repeat;

}
.video{
  display: flex;
  display: contents;
  justify-content: center;
  margin-left: 13%;
  // width: 100%;
  // height: 40%;
  width: rem(720px);
  height: rem(450px);
  @include tablets {
    display: contents;
    margin-top: -10px;
    width: rem(720px);
    height: rem(450px);
  // height: 40%;

  }
  @include phones{
    display: flex;
    display: flex;
    margin-left: 2%;
    width: 33rem;
  }
} 

.section__title_black{
  font-family: 'Gagalin-Regular';
  font-size: rem(72px);
  color: $black;
  text-align: center;
  margin-top: rem(50px);
  margin-bottom: rem(50px);
  @include tablets {
    font-size: 4.7rem;
    margin-top: 2.7em;
  }
  @include phones{
    width: 50%;
    display: flex;
    margin-left: 26%;
    margin-top: 30%;
    font-size: rem(51px);
  }

}