.job {
  background: url("../img/background/how__work.jpg") center center/cover no-repeat; }

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
