.logo {
	display: inline-block;
	position: relative;
	z-index: 1;

	// svg {
	// 	max-width: 100%;
	// }
}

.logo__img {
	height: rem(75px);
}

.logo__icon {
	width: rem(70px);
	path:nth-child(1) {
		fill: #e45028;
	}
}