// .yandex-map {


// 	position: absolute;
// 	top: 5%;
// 	bottom: 15%;
// 	left: 15%;
// 	right: 15%;
// }

.map {
	background: url("../img/background/maping.png") center center no-repeat;
	background-size: cover;
	position: relative;
	@include tablets {
		padding-bottom: rem(100px);
	}
}