.container__burgers{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  @include tablets {
    display: flex;
    width: 90%;
    height: 90%;
    overflow: hidden;
    text-align: center;
		flex-direction: column;
    // margin: 0 25px;
    // margin-bottom: 20px;
  }
  @include phones{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
  }

}

.slider {

  // display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  


  @include tablets {
    display: flex;
    margin-top: -100px;
    margin-bottom: -95px;
    width: 98%;
    height: 100%;
    margin-left: rem(-56px);
    overflow: hidden;
    // border: 19px solid transparent;
    // margin: 0 25px;
    // margin-bottom: 20px;
  }

  @include phones{
    display: inline-block;
    // margin-top: 0;
    // margin-bottom: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    overflow: hidden;
    // display: flex;
    // margin-left: 1%;
    // width: 100%;
    // height: 100%;
    // margin-left: 1.5rem;
    // overflow: hidden;


  }
  

}
.burger {
  display: flex;
  display: -webkit-box;
  position: relative;
  font-size: 90%;
  @include tablets {
    display: flex;
  }
  @include phones {
    // width: 100%;
    font-size: 100%;
  }
}

.burgers-slider{
  display: flex;
  width: 100%;
  margin-left: 33px;
  margin-right: 33px;
  // text-align: right;
  // border: 2px solid black;
  @include tablets {
    // display: block;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 70vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  @include phones {
    display: flex;
    flex-flow: column;
    // width: 100%;
    justify-content: center;
    margin: 0;


}
}
