.team-list {
	margin-right: -1rem;
}
.team-list__item {
	position: relative;
}
.team-list__img {
	display: none;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 42px;
	width: 100%;
	height: 100%;
}

.team-list__pic {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.team-list__description {
	margin-bottom: rem(40px);
	flex-direction: column;
	@include tablets {
		text-align: center;
	}
	@include phones {
		margin-bottom: rem(20px);

	}

	
}

.team-list__name {
	width: rem(140px);
	height: rem(20px);
	font-family: 'Gagalin-Regular';
  font-weight: 300;
  font-style: normal;
  font-size: rem(14px);
	position: relative;
	align-self: center;
	cursor: pointer;
	color: white;
	@include tablets {
display: inline-block;
	}
}
.team-list__name::before {
	content: "";
	width: 1.25rem;
	height: 0.625rem;
	position: absolute;
	top: 50%;
	right: 104%;
}
.team-list__slider-control {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 104%;
	transform: translateY(-30%);
	transition: 0.4s ease-in;
	border: 3px solid#f7b23b;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.team-list__name--active .team-list__slider-control {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 104%;
	transform: translateY(-30%);
	border: 3px solid #f7b23b;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.team-list__slider-text {
	display: none;
	position: relative;
	overflow: hidden;
	cursor: default;
	font-size: 1.125em;
	font-weight: 300;
	color: rgb(255, 255, 255);
	z-index: 10;
	transform: translateX(50%);
	left: 10%;
  margin-left: 44px;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.team-list__name--active ~ p.team-list__slider-text {
	display: block;
	opacity: 1;
	left: 0px;
	text-align: left;
	width: rem(270px);
	transform: translateY(-140%);
	margin-left: 180px;
	@include tablets {
		text-align: center;
		margin: 0 auto;
		transform: translateY(0%);
	}

}
.team-list__name--active ~ .team-list__img {
		display: table-row-group;
    width: rem(160px);
		height: rem(160px);
		// transform: translateX(-100%);
		@include tablets {
			text-align: center;
			display: flex;
			transform: translateX(50%);
			margin-bottom: 20px
		}
		@include phones {
		width: rem(100px);
		height: rem(100px);
		transform: translateX(5em);
		}
}
